<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701023223608-9scd334cpgr6bnuanc7h8prbi6gg3ol5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701023223608-9scd334cpgr6bnuanc7h8prbi6gg3ol5</string>
	<key>API_KEY</key>
	<string>AIzaSyAb0Lb940UwRvXKWalluTr0ht_aOKSH9Zo</string>
	<key>GCM_SENDER_ID</key>
	<string>701023223608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.staika.game.defengo</string>
	<key>PROJECT_ID</key>
	<string>defengo-a4f72</string>
	<key>STORAGE_BUCKET</key>
	<string>defengo-a4f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701023223608:ios:cd3bfaa006a6c3de3d4bcd</string>
</dict>
</plist>